Repository reimagined/resolve, pull requests merged in 2018-08, with the labels that each got.

#716 Docs/Server HTTP API article
  docs/Server HTTP API.md
Labels: Component: Documentation, Severity: Moderate, Type: Enhancement

#726 Fix/Regenerator and generic polyfills fix
  examples/hacker-news/config.dev.js
  examples/hacker-news/config.prod.js
  examples/hacker-news/config.test_functional.js
  examples/hacker-news/package.json
  examples/hello-world/config.dev.js
  examples/hello-world/config.prod.js
  examples/hello-world/config.test_functional.js
  examples/hello-world/package.json
  examples/todo-two-levels/config.dev.js
  examples/todo-two-levels/config.prod.js
  examples/todo-two-levels/config.test_functional.js
  examples/todo-two-levels/package.json
  examples/todo/config.dev.js
  examples/todo/config.prod.js
  examples/todo/config.test_functional.js
  examples/todo/package.json
  examples/top-list/config.dev.js
  examples/top-list/config.prod.js
  examples/top-list/config.test_functional.js
  examples/top-list/package.json
  examples/with-authentication/config.dev.js
  examples/with-authentication/config.prod.js
  examples/with-authentication/config.test_functional.js
  examples/with-authentication/package.json
  examples/with-postcss/config.dev.js
  examples/with-postcss/config.prod.js
  examples/with-postcss/config.test_functional.js
  examples/with-postcss/package.json
  examples/with-styled-components/config.dev.js
  examples/with-styled-components/config.prod.js
  examples/with-styled-components/config.test_functional.js
  examples/with-styled-components/package.json
  packages/core/resolve-scripts/src/core/default.resolve.config.js
  packages/core/resolve-scripts/src/core/get_webpack_client_config.js
  packages/core/resolve-scripts/src/core/get_webpack_common_configs.js
Labels: Component: Core, Severity: Moderate, Type: Bug

#720 Feature/Passport-based cloud-compatible auth
  examples/hacker-news/auth/localStrategy.js
  examples/with-authentication/auth/index.js
  packages/core/resolve-auth/src/createAuthOptions.js
  packages/core/resolve-auth/src/defaultAuthOptions.js
  packages/core/resolve-auth/src/helpers.js
  packages/core/resolve-auth/src/index.js
  packages/core/resolve-scripts/src/runtime/assign_auth_routes.js
Labels: Component: resolve-auth, Severity: Moderate, Type: Enhancement

#727 Feature/Unexisting model entities
  packages/core/resolve-command/src/index.js
  packages/core/resolve-scripts/src/runtime/execute_read_model_query.js
  packages/core/resolve-scripts/src/runtime/execute_view_model_query.js
Labels: Component: resolve-scripts, Severity: Moderate, Type: Bug

#723 CI/Dev branch building
  .drone.yml
  package.json
Labels: Component: Core, Severity: Major, Type: Enhancement

#730 Feature/Fix incorrect paths and readme
  README.md
  docs/API References.md
  docs/Contributing.md
  docs/Packages.md
  docs/README.md
  docs/Tutorials/Hacker News Tutorial.md
  docs/Tutorials/ToDo List App Tutorial.md
  docs/View Model.md
  examples/README.md
  examples/with-saga/package-lock.json
  packages/adapters/storage-adapters/README.md
  packages/adapters/storage-adapters/resolve-storage-mysql/README.md
  packages/core/resolve-query/README.md
Labels: Component: Documentation, Severity: Moderate, Type: Bug

#731 Feature/Сonfig improvements
  Jenkinsfile
  docs/API References.md
  docs/Aggregate.md
  docs/Server HTTP API.md
  examples/README.md
  examples/hacker-news/config.dev.js
  examples/hacker-news/config.prod.js
  examples/hacker-news/config.test_functional.js
  examples/hacker-news/test/functional/utils.js
  examples/todo-two-levels/config.dev.js
  examples/todo-two-levels/config.prod.js
  examples/todo-two-levels/config.test_functional.js
  examples/todo-two-levels/test/functional/index.test.js
  examples/todo/config.dev.js
  examples/todo/config.prod.js
  examples/todo/config.test_functional.js
  examples/todo/test/functional/index.test.js
  examples/top-list/config.dev.js
  examples/top-list/config.prod.js
  examples/top-list/config.test_functional.js
  examples/top-list/test/functional/index.test.js
  examples/with-authentication/config.dev.js
  examples/with-authentication/config.prod.js
  examples/with-authentication/config.test_functional.js
  examples/with-authentication/test/functional/index.test.js
  examples/with-postcss/config.dev.js
  examples/with-postcss/config.prod.js
  examples/with-postcss/config.test_functional.js
  examples/with-postcss/test/functional/index.test.js
  examples/with-saga/config.dev.js
  examples/with-saga/config.prod.js
  examples/with-saga/config.test_functional.js
  examples/with-saga/test/functional/index.test.js
  examples/with-styled-components/config.dev.js
  examples/with-styled-components/config.prod.js
  examples/with-styled-components/config.test_functional.js
  examples/with-styled-components/test/functional/index.test.js
  packages/core/resolve-auth/README.md
  packages/core/resolve-scripts/README.md
Labels: Component: Documentation, Severity: Moderate, Type: Enhancement

#650 Fix/Bus init
  packages/adapters/bus-adapters/resolve-bus-memory/src/index.js
  packages/adapters/bus-adapters/resolve-bus-rabbitmq/src/index.js
  packages/adapters/bus-adapters/resolve-bus-rabbitmq/test/index.test.js
  packages/adapters/bus-adapters/resolve-bus-zmq/src/index.js
  packages/adapters/bus-adapters/resolve-bus-zmq/test/index.test.js
  packages/core/resolve-es/src/index.js
  yarn.lock
Labels: Component: bus-adapters, Severity: Moderate, Type: Bug

#736 Feature/Min node version for resolve packages
  packages/adapters/bus-adapters/resolve-bus-memory/package.json
  packages/adapters/bus-adapters/resolve-bus-rabbitmq/package.json
  packages/adapters/bus-adapters/resolve-bus-zmq/package.json
  packages/adapters/readmodel-adapters/resolve-readmodel-base/package.json
  packages/adapters/readmodel-adapters/resolve-readmodel-memory/package.json
  packages/adapters/readmodel-adapters/resolve-readmodel-mongo/package.json
  packages/adapters/readmodel-adapters/resolve-readmodel-mysql/package.json
  packages/adapters/storage-adapters/resolve-storage-base/package.json
  packages/adapters/storage-adapters/resolve-storage-lite/package.json
  packages/adapters/storage-adapters/resolve-storage-mongo/package.json
  packages/adapters/storage-adapters/resolve-storage-mysql/package.json
  packages/adapters/subscribe-adapters/resolve-subscribe-mqtt/package.json
  packages/adapters/subscribe-adapters/resolve-subscribe-socket.io/package.json
  packages/core/create-resolve-app/package.json
  packages/core/resolve-auth/package.json
  packages/core/resolve-command/package.json
  packages/core/resolve-es/package.json
  packages/core/resolve-query/package.json
  packages/core/resolve-redux/package.json
  packages/core/resolve-scripts/package.json
Labels: Component: Core, Severity: Minor, Type: Enhancement
