Repository reimagined/resolve, pull requests merged in 2022-05, with the labels that each got.

#2275 Fix bad anchor link in Application Configuration article
  docs/application-configuration.md
Labels: docs, maintenance

#2273 Describe passing config options to API Handlers
  docs/api-handlers.md
  docs/api/api-handler/api-handler.md
  docs/application-configuration.md
Labels: docs

#2277 Fix command post save event notification performance
  packages/runtime/adapters/readmodel-adapters/readmodel-postgresql/src/status.ts
  packages/runtime/runtimes/runtime-base/package.json
  packages/runtime/runtimes/runtime-base/src/event-broadcast-factory.ts
  packages/runtime/runtimes/runtime-base/test/event-broadcast-factory.test.ts
Labels: fix

#2278 Describe the comments module
  docs/modules/comments.md
Labels: docs

#2279 Describe authentication module
  docs/modules/authentication.md
  website/sidebars.json
Labels: docs

#2280 Describe the admin module
  docs/modules/admin.md
  website/sidebars.json
Labels: docs
